#impressum_card{
    background-color: var(--color_white);
    padding: 30px 10px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #header_logo{
        color: var(--color_primary_500);
        font-size: 30px;

        svg{
            fill: var(--color_primary_500);
            height: 36px;
        }
    }

    #impressum_card_links{
        margin: 20px 0;
        a{
            font-size: 18px;
            padding: 2px 10px;
            margin: 2px;
            text-decoration: none;
            color: var(--color_primary_500);

            &:hover{
                text-decoration: underline;
            }
        }
    }

    p{
        color: var(--color_grey_500);
        line-height: 18px;
        text-align: center;
        margin: 0;
        font-size: 15px;;
    }
}