header{
    flex-shrink: 0;

    background-color: var(--color_primary_background);
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #header_logo{
        color: var(--color_white);
        font-size: 26px;

        svg{
            fill: var(--color_white);
            height: 32px;
        }
    }
}