#grow_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 64px;

    // @media only screen and (min-width: $sm)  {
    //     padding: 0 5%;
    //     justify-content: flex-start;
    // }

    // @media only screen and (min-width: $lg)  {
    //     padding: 0 10%;
    //     justify-content: flex-start;
    // }   

    .grow_card{
        background-color: var(--color_white);
        height: 180px;
        display: flex;
        border-radius: 20px;
        padding: 10px;
        justify-content: center;
        width: 100%;
        max-width: 360px;
        margin-bottom: 20px;  
        margin-right: 10px; 
        cursor: pointer;
        text-decoration: none;

        &:hover{
            box-shadow: inset 0 0 0 4px var(--color_primary_300);
        }

        .grow_card_left{
            width: 30%;
            display: flex;
            align-items: flex-end;
            padding: 10px;

            img{
                height: 162px;
            }
        }

        .grow_card_right{
            width: 70%;
            padding: 10px;

            .box_header{
                h2{
                    color: var(--color_primary_500);
                    text-align: right;
                    font-size: 20px;
                    font-weight: 600;
                    margin: 0 10px;
                }
    
                hr{
                    border: 2px solid var(--color_primary_100);
                    margin: 5px 0;
                }
            }

            .box_content{
                .card_content_point{
                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                    height: 50px;

                    .green_dash{
                        background-color: var(--color_primary_100);
                        height: 7px;
                        width: 22px;
                        border-radius: 5px;
                        margin-right: 15px;
                    }

                    .pot_count{
                        font-size: 22px;
                        font-weight: 600;
                        color: var(--color_grey_600);

                        svg{
                            fill: var(--color_grey_600);
                            height: 14px;
                        }
                    }

                    #lighting_icon{
                        height: 24px;
                    }
                }
            }            
        }
    } 
}