#grow_cards{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    // background-color: aqua;


    .grow_card{
        background-color: var(--color_tiles);
        border-radius: 20px;
        display: flex;
        padding: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        text-decoration: none;
        width: 100%;

        &:nth-child(2n+1){
            @media screen and (min-width: $sm)  {
                margin-right: 20px;
            }
            @media screen and (min-width: $lg)  {
                margin-right: 0;            
            }
        }

        &:nth-child(3n+1), &:nth-child(3n+2){
            @media screen and (min-width: $lg)  {
                margin-right: 20px;            
            }
            @media screen and (min-width: $xxxl)  {
                margin-right: 0; 
            } 
        }

        &:nth-child(4n+1), &:nth-child(4n+2), &:nth-child(4n+3){
            @media screen and (min-width: $xxxl)  {
                margin-right: 20px;            
            }
        }


        @media screen and (min-width: $sm)  {
            max-width: calc(50% - 30px);
        }

        @media screen and (min-width: $lg)  {
            max-width: calc(33.3333% - 33.33px);
        }  
        @media screen and (min-width: $xxxl)  {
            max-width: calc(25% - 35px);
        } 

        &:hover{
            box-shadow: inset 0 0 0 4px var(--color_primary_300);
        }

        .grow_card_left{
            width: 30%;
            display: flex;
            align-items: flex-end;
            padding: 10px;

            img{
                height: 162px;
            }
        }

        .grow_card_right{
            width: 70%;
            padding: 10px;

            .box_header{
                h2{
                    color: var(--color_primary_text);
                    text-align: right;
                    font-size: 20px;
                    font-weight: 600;
                    margin: 0 10px;
                }
    
                hr{
                    border: none;
                    height: 2px;
                    background-color: var(--color_primary_100);
                    margin: 5px 0;
                }
            }

            .box_content{
                .card_content_point{
                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                    height: 50px;

                    .green_dash{
                        background-color: var(--color_primary_100);
                        height: 7px;
                        width: 22px;
                        border-radius: 5px;
                        margin-right: 15px;
                    }

                    .pot_count{
                        font-size: 22px;
                        font-weight: 600;
                        color: var(--color_text);

                        svg{
                            fill: var(--color_text);
                            height: 14px;
                        }
                    }

                    #lighting_icon{
                        width: 58px;

                        .cls-1 {
                            fill: var(--color_text);
                        }
                        .cls-2 {
                            fill: var(--color_yellow_500);
                        }
                        .cls-3 {
                            fill: var(--color_moon);
                        }                        
                    }
                }
            }            
        }
    } 
}