/* Light Mode Color Variables */
:root{
    --color_primary_100: #B4DEDB;
    --color_primary_300: #5FC1BA;
    --color_primary_500:#00887F;
    --color_primary_700:#005853;
    --color_primary_900:#003835;

    --color_white: #fff;
    --color_grey_100: #F3F3F3;
    --color_grey_200: #E9E9E9;
    --color_grey_300: #d8d8d8;
    --color_grey_400: #BCBCBC;
    --color_grey_500: #9B9B9B;
    --color_grey_600: #7a7a7a;
    --color_grey_700: #494949;
    --color_grey_800: #202020;
    --color_grey_900: #181818;
    --color_black: #000;

    --color_sun: #E8A218;
    --color_moon: #19436D;

    .darkmode{
        --color_primary_100: #003835;
        --color_primary_300: #005853;
        --color_primary_500: #00887F;
        --color_primary_700: #5FC1BA;
        --color_primary_900: #B4DEDB;
    
        --color_white: #000;
        --color_grey_100: #181818;
        --color_grey_200: #202020;
        --color_grey_300: #d8d8d8;
        --color_grey_400: #7a7a7a;
        --color_grey_500: #9B9B9B;
        --color_grey_600: #BCBCBC;
        --color_grey_700: #d8d8d8;
        --color_grey_800: #E9E9E9;
        --color_grey_900: #F3F3F3;
        --color_black: #fff;
    
        --color_sun: #E8A218;
        --color_moon: #19436D;   
    }
}

/* Screen Size Variables */

$xxxs: 0;
$xxs: 420px;
$xs: 568px;
$sm: 667px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
$xxxl: 1600px;
$xxxxl: 2000px;