/* Light Mode Color Variables */
:root{
    --color_primary_100: #B4DEDB;
    --color_primary_300: #5FC1BA;
    --color_primary_500:#00887F;
    --color_primary_700:#005853;
    --color_primary_900:#003835;

    --color_white: #fff;
    --color_grey_100: #F3F3F3;
    --color_grey_200: #E9E9E9;
    --color_grey_300: #d8d8d8;
    --color_grey_400: #BCBCBC;
    --color_grey_500: #9B9B9B;
    --color_grey_600: #7a7a7a;
    --color_grey_700: #494949;
    --color_grey_750: #363636;
    --color_grey_800: #202020;
    --color_grey_900: #181818;
    --color_black: #000;

    --color_blue_300: #5692ce;
    --color_blue_500: #19436D;

    --color_yellow_300: #e2b762;
    --color_yellow_500: #E8A218;

    --color_background: var(--color_grey_200);
    --color_tiles: var(--color_white);
    --color_tiles_hover: var(--color_grey_100);
    --color_tiles_lines: var(--color_grey_200);
    --color_text: var(--color_grey_600);
    --color_primary_text: var(--color_primary_500);
    --color_primary_background: var(--color_primary_500);
    --color_sun: var(--color_yellow_500);
    --color_moon: var(--color_blue_500);

    .darkmode{
        --color_background: var(--color_grey_700);
        --color_tiles: var(--color_grey_800);
        --color_tiles_hover: var(--color_grey_750);
        --color_tiles_lines: var(--color_grey_700);
        --color_text: var(--color_grey_300);
        --color_primary_text: var(--color_primary_300);
        --color_primary_background: var(--color_primary_700);
        --color_sun: var(--color_yellow_500);
        --color_moon: var(--color_blue_300);
    }
}

/* Screen Size Variables */

$xxxs: 0;
$xxs: 420px;
$xs: 568px;
$sm: 667px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
$xxxl: 1600px;
$xxxxl: 2000px;