/* Light Mode Color Variables */
:root {
  --color_primary_100: #B4DEDB;
  --color_primary_300: #5FC1BA;
  --color_primary_500:#00887F;
  --color_primary_700:#005853;
  --color_primary_900:#003835;
  --color_white: #fff;
  --color_grey_100: #F3F3F3;
  --color_grey_200: #E9E9E9;
  --color_grey_300: #d8d8d8;
  --color_grey_400: #BCBCBC;
  --color_grey_500: #9B9B9B;
  --color_grey_600: #7a7a7a;
  --color_grey_700: #494949;
  --color_grey_800: #202020;
  --color_grey_900: #181818;
  --color_black: #000;
  --color_sun: #E8A218;
  --color_moon: #19436D; }
  :root .darkmode {
    --color_primary_100: #003835;
    --color_primary_300: #005853;
    --color_primary_500: #00887F;
    --color_primary_700: #5FC1BA;
    --color_primary_900: #B4DEDB;
    --color_white: #000;
    --color_grey_100: #181818;
    --color_grey_200: #202020;
    --color_grey_300: #d8d8d8;
    --color_grey_400: #7a7a7a;
    --color_grey_500: #9B9B9B;
    --color_grey_600: #BCBCBC;
    --color_grey_700: #d8d8d8;
    --color_grey_800: #E9E9E9;
    --color_grey_900: #F3F3F3;
    --color_black: #fff;
    --color_sun: #E8A218;
    --color_moon: #19436D; }

/* Screen Size Variables */
.titlebar {
  background-color: var(--color_white);
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .titlebar .back_and_header {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .titlebar .back_and_header .back_button {
      height: 100%;
      width: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer; }
      .titlebar .back_and_header .back_button svg {
        fill: var(--color_primary_500);
        height: 22px; }
      .titlebar .back_and_header .back_button:hover svg {
        height: 25px; }
    .titlebar .back_and_header h1 {
      color: var(--color_primary_500);
      font-weight: 600;
      font-size: 24px;
      margin: 0; }
  .titlebar .pot_count {
    font-size: 22px;
    font-weight: 600;
    color: var(--color_grey_700);
    margin-right: 20px; }
    .titlebar .pot_count svg {
      height: 16px;
      fill: var(--color_grey_700); }

.module_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .module_section .module {
    background-color: var(--color_white);
    height: 80px;
    width: 80px;
    border-radius: 20px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer; }
    .module_section .module:hover {
      -webkit-box-shadow: inset 0 0 0 4px var(--color_primary_300);
              box-shadow: inset 0 0 0 4px var(--color_primary_300); }
  .module_section #module_livecam svg {
    height: 34px;
    fill: var(--color_grey_700); }
  .module_section #module_lighting svg {
    height: 48px;
    fill: var(--color_sun); }

#livecam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #livecam #image {
    background: url(../assets/grow_live.png) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    height: 300px;
    min-height: 100%;
    margin: auto;
    cursor: pointer; }
    #livecam #image:hover {
      -webkit-box-shadow: inset 0 0 0 4px var(--color_primary_300);
              box-shadow: inset 0 0 0 4px var(--color_primary_300); }

#sunrise_sunset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #sunrise_sunset .sunrise_sunset_element h3 {
    margin: 0 0 10px 10px;
    color: var(--color_grey_700);
    font-weight: 600; }
  #sunrise_sunset .sunrise_sunset_element .timepicker_with_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
    #sunrise_sunset .sunrise_sunset_element .timepicker_with_icon svg {
      width: 30%;
      margin-right: 5px; }
    #sunrise_sunset .sunrise_sunset_element .timepicker_with_icon .timepicker {
      background-color: var(--color_white);
      width: 100px;
      border-radius: 10px;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 24px;
      color: var(--color_grey_700);
      font-weight: 600;
      cursor: pointer; }
      #sunrise_sunset .sunrise_sunset_element .timepicker_with_icon .timepicker:hover {
        -webkit-box-shadow: inset 0 0 0 3px var(--color_primary_300);
                box-shadow: inset 0 0 0 3px var(--color_primary_300); }
  #sunrise_sunset #sunrise {
    margin-right: 30px; }
    #sunrise_sunset #sunrise svg {
      fill: var(--color_sun);
      height: 42px; }
  #sunrise_sunset #sunset svg {
    fill: var(--color_moon);
    height: 28px; }

header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: var(--color_primary_500);
  height: 64px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  header #header_logo {
    color: var(--color_white);
    font-size: 26px; }
    header #header_logo svg {
      fill: var(--color_white);
      height: 32px; }

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: var(--color_white);
  height: 64px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  footer .footer_button {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    height: 100%; }
    footer .footer_button:hover {
      background-color: var(--color_grey_100); }
    footer .footer_button.active svg {
      fill: var(--color_primary_500); }
    footer .footer_button svg {
      fill: var(--color_grey_500);
      margin-right: 10px;
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px); }
  footer #footer_plants svg {
    width: 28px; }
  footer #footer_settings svg {
    width: 32px; }

#grow_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 64px; }
  #grow_cards .grow_card {
    background-color: var(--color_white);
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 20px;
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: 360px;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none; }
    #grow_cards .grow_card:hover {
      -webkit-box-shadow: inset 0 0 0 4px var(--color_primary_300);
              box-shadow: inset 0 0 0 4px var(--color_primary_300); }
    #grow_cards .grow_card .grow_card_left {
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      padding: 10px; }
      #grow_cards .grow_card .grow_card_left img {
        height: 162px; }
    #grow_cards .grow_card .grow_card_right {
      width: 70%;
      padding: 10px; }
      #grow_cards .grow_card .grow_card_right .box_header h2 {
        color: var(--color_primary_500);
        text-align: right;
        font-size: 20px;
        font-weight: 600;
        margin: 0 10px; }
      #grow_cards .grow_card .grow_card_right .box_header hr {
        border: 2px solid var(--color_primary_100);
        margin: 5px 0; }
      #grow_cards .grow_card .grow_card_right .box_content .card_content_point {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 20px;
        height: 50px; }
        #grow_cards .grow_card .grow_card_right .box_content .card_content_point .green_dash {
          background-color: var(--color_primary_100);
          height: 7px;
          width: 22px;
          border-radius: 5px;
          margin-right: 15px; }
        #grow_cards .grow_card .grow_card_right .box_content .card_content_point .pot_count {
          font-size: 22px;
          font-weight: 600;
          color: var(--color_grey_600); }
          #grow_cards .grow_card .grow_card_right .box_content .card_content_point .pot_count svg {
            fill: var(--color_grey_600);
            height: 14px; }
        #grow_cards .grow_card .grow_card_right .box_content .card_content_point #lighting_icon {
          height: 24px; }

#settings_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px; }
  #settings_cards .settings_card {
    background-color: var(--color_white);
    padding: 0 20px;
    border-radius: 20px;
    width: 100%; }
    #settings_cards .settings_card .settingscard_header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 15px 0; }
      #settings_cards .settings_card .settingscard_header svg {
        fill: var(--color_primary_500);
        width: 22px;
        -webkit-transform: translateY(1px);
                transform: translateY(1px); }
      #settings_cards .settings_card .settingscard_header h2 {
        color: var(--color_primary_500);
        text-align: right;
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 0 10px; }
    #settings_cards .settings_card hr {
      border: 1px solid var(--color_grey_200);
      margin: 5px 0; }
    #settings_cards .settings_card .settingscard_content {
      margin-bottom: 20px; }
      @media only screen and (min-width: 667px) {
        #settings_cards .settings_card .settingscard_content {
          width: 50%;
          border-right: 1px solid var(--color_grey_200); } }
      @media only screen and (min-width: 992px) {
        #settings_cards .settings_card .settingscard_content {
          width: 33%; } }
      #settings_cards .settings_card .settingscard_content .radio_line {
        border: none;
        background-color: var(--color_white);
        color: var(--color_grey_600);
        font-size: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-radius: 20px;
        padding: 10px 20px;
        margin: 0;
        cursor: pointer; }
        #settings_cards .settings_card .settingscard_content .radio_line input {
          display: none; }
        #settings_cards .settings_card .settingscard_content .radio_line .circle {
          border-radius: 50%;
          border: 1px var(--color_grey_600) solid;
          width: 24px;
          height: 24px;
          background-color: var(--color_white);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          #settings_cards .settings_card .settingscard_content .radio_line .circle svg {
            fill: var(--color_white);
            height: 40%; }
        #settings_cards .settings_card .settingscard_content .radio_line:hover {
          background-color: var(--color_grey_100); }
          #settings_cards .settings_card .settingscard_content .radio_line:hover .circle {
            background-color: var(--color_grey_100); }
            #settings_cards .settings_card .settingscard_content .radio_line:hover .circle svg {
              fill: var(--color_grey_100); }
        #settings_cards .settings_card .settingscard_content .radio_line input:checked + .circle {
          border-color: var(--color_primary_500);
          background-color: var(--color_primary_500); }

#impressum_card {
  background-color: var(--color_white);
  padding: 30px 10px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #impressum_card #header_logo {
    color: var(--color_primary_500);
    font-size: 30px; }
    #impressum_card #header_logo svg {
      fill: var(--color_primary_500);
      height: 36px; }
  #impressum_card #impressum_card_links {
    margin: 20px 0; }
    #impressum_card #impressum_card_links a {
      font-size: 18px;
      padding: 2px 10px;
      margin: 2px;
      text-decoration: none;
      color: var(--color_primary_500); }
      #impressum_card #impressum_card_links a:hover {
        text-decoration: underline; }
  #impressum_card p {
    color: var(--color_grey_500);
    line-height: 18px;
    text-align: center;
    margin: 0;
    font-size: 15px; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--color_grey_200);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  body button {
    border: none;
    background-color: var(--color_white);
    width: 100%;
    color: var(--color_grey_600);
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0;
    cursor: pointer; }
    body button .circle {
      border-radius: 50%;
      border: 1px var(--color_grey_600) solid;
      width: 24px;
      height: 24px;
      background-color: var(--color_white);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      body button .circle svg {
        fill: var(--color_white);
        height: 40%; }
    body button:hover {
      background-color: var(--color_grey_100); }
      body button:hover .circle {
        background-color: var(--color_grey_100); }
        body button:hover .circle svg {
          fill: var(--color_grey_100); }
    body button.active .circle {
      border-color: var(--color_primary_500);
      background-color: var(--color_primary_500); }
  body .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding: 0 5%;
    margin-top: 20px;
    margin-bottom: 20px; }
  body #header_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-weight: 600; }
    body #header_logo svg {
      margin-right: 10px;
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px); }
