
body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    font-size: 200%
    -webkit-text-size-adjust: 200%
}

#app_title {
    color: green;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 1px 1px 1px grey;
}

#grow1 {
    border-radius: 25px;
    background: #bababa;
    padding: 20px;
    width: 80%;
    /*height: 200px;*/
    height: auto;
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 3px grey;
}

img {
    width: 80%;
    /*height: auto;*/
    /*height: 80%;*/
    border-radius: 15px;
    /*box-shadow: 3px 3px 3px grey;*/
}

#grow_image_live {
  border-radius: 25px;
  padding: 20px;
}
