*{
    text-align: center;
    display:flex;
    justify-content:center;
}

#app_title {
    color: green;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 1px 1px 1px grey;
}

#grow1 {
    border-radius: 25px;
    background: #bababa;
    padding: 20px;
    width: 80%;
    /*height: 200px;*/
    height: auto;
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 3px grey;
}
