<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href='/static/style.css' name="viewport" content="width=[widest centered div];"/>
  <link rel="apple-touch-icon" sizes="128x128" href="/static/smartplant_icon.png"/>
</head>

<body>
  <h1 id="app_title">Smart Plant</h1>
  <br>
  <div id="grow1" class="container">
    <form method="post" action="/">
      Sunrise:
      <!--<input type="text" name="sunrise" id="sunrise"/>-->
      <input id="sunrise" type="time" name="sunrise" value={{sunrise_time}}>
      <br>Sunset:
      <input id="sunset" type="time" name="sunset" value={{sunset_time}}>
      <br>White:
      <input type="text" name="white" id="white"/>
      <br>Red:
      <input type="text" name="red" id="red"/>
      <br>Blue:
      <input type="text" name="blue" id="blue"/>
      <br>
      <input type="submit" name="submit_button" value="Abschicken">
    </form>
  </div>
</body>
</html>
