<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href='/static/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
  <div id="app_title">
      <h1>Smart Plant</h1>
  </div>
  <div id="grow1" class="container">
    <form method="post" action="/">
      Sunrise:
      <input type="text" name="sunrise" id="sunrise"/>
      <br>Sunset:
      <input type="text" name="sunset" id="sunset"/>
      <br>White:
      <input type="text" name="white" id="white"/>
      <br>Red:
      <input type="text" name="red" id="red"/>
      <br>Blue:
      <input type="text" name="blue" id="blue"/>
      <br>
      <input type="submit" name="submit_button" value="Abschicken">
    </form>
  </div>
</body>
</html>
