#settings_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

    .settings_card{
        background-color: var(--color_tiles);
        padding: 0 20px;
        border-radius: 20px;
        width: 100%;

        .settingscard_header{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 15px 0;

            svg{
                fill: var(--color_primary_text);
                width: 22px;
                transform: translateY(1px);
            }

            h2{
                color: var(--color_primary_text);
                text-align: right;
                font-size: 20px;
                font-weight: 600;
                margin: 0 0 0 10px;
            }
        }

        hr{
            border: 1px solid var(--color_tiles_lines);
            margin: 5px 0;
        }

        .settingscard_content{
            margin-bottom: 20px;

            @media only screen and (min-width: $sm)  {
                width: 50%;
                border-right: 1px solid var(--color_tiles_lines);
            }
            @media only screen and (min-width: $lg)  {
                width: 33%;
            }

            .radio_line{
                input{
                    display: none;
                }

                border: none;
                background-color: var(--color_tiles);;
                color: var(--color_text);
                font-size: 16px;
        
                display: flex;
                align-items: flex-start;
                justify-content: space-between;   
                border-radius: 20px;  
                padding: 10px 20px;   
                margin: 0;
                cursor: pointer;
        
                .circle{
                    border-radius: 50%;
                    border: 1px var(--color_text) solid;
                    width: 24px;
                    height: 24px;
                    background-color: var(--color_tiles);
                    display: flex;
                    align-items: center;
                    justify-content: center;
        
                    svg{
                        fill: var(--color_tiles);
                        height: 40%;
                    }
                }
        
                &:hover{
                    background-color: var(--color_tiles_hover);
        
                    .circle{
                        background-color: var(--color_tiles_hover);
        
                        svg{
                            fill: var(--color_tiles_hover);
                        }
                    }
                }
        
                input:checked + .circle{
                        border-color: var(--color_primary_500);
                        background-color: var(--color_primary_500);
                }
            }
        }
    }
}